<!-- Validation failure messages -->
<% if @loan.errors.any? %>
  <% @loan.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Loan #<%= @loan.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_loan/<%= @loan.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @loan.user_id %>">
      </div>

      <!-- Label and input for duration -->
      <div class="form-group">
        <label for="duration" class="control-label">
          Duration
        </label>

        <input type="text" id="duration" name="duration" placeholder="Duration" class="form-control" value="<%= @loan.duration %>">
      </div>

      <!-- Label and input for interest_rate -->
      <div class="form-group">
        <label for="interest_rate" class="control-label">
          Interest rate
        </label>

        <input type="text" id="interest_rate" name="interest_rate" placeholder="Interest rate" class="form-control" value="<%= @loan.interest_rate %>">
      </div>

      <!-- Label and input for loan_balance -->
      <div class="form-group">
        <label for="loan_balance" class="control-label">
          Loan balance
        </label>

        <input type="text" id="loan_balance" name="loan_balance" placeholder="Loan balance" class="form-control" value="<%= @loan.loan_balance %>">
      </div>

      <!-- Label and input for loan_type -->
      <div class="form-group">
        <label for="loan_type" class="control-label">
          Loan type
        </label>

        <input type="text" id="loan_type" name="loan_type" placeholder="Loan type" class="form-control" value="<%= @loan.loan_type %>">
      </div>

      <button class="btn btn-warning">
        Update Loan
      </button>
      or
      <a href="/loans/<%= @loan.id %>">Cancel</a>
    </form>
  </div>
</div>
